---
import Layout from "../../layouts/Layout.astro";
import { getPackage, getPackagePaths } from "../../lib/packages";
import type { Package } from "../../lib/types";

export async function getStaticPaths() {
  return getPackagePaths();
}

const pkg: Package | undefined = getPackage(Astro.params.id as string);
if (!pkg) {
  throw new Error(`Package not found: ${Astro.params.id}`);
}
---

<Layout title={pkg.title} headings={pkg.headings}>
  <article class="docs-content">
    <header class="docs-header">
      <h1>{pkg.title}</h1>
      {pkg.description && (<p>{pkg.description}</p>)}
    </header>
    <pkg.Content />
  </article>
</Layout>